:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.greeting {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0;
  animation: fade-in 0.5s ease forwards;
}

@keyframes fade-in {
  to { opacity: 1; }
}
